<div clas="row">
  <div class="col-sm-1 col-sm-offset-2" >
    <div class="plan_box">
      <h3>Free Plan</h3>
      <p>No Charge
        <br>Good stuff
      </p>
    </div>
  </div>
  <div class="col-sm-1 col-sm-offset-2">
    <div class="plan_box">
      <h3>Good Plan</h3>
      <p>$2.00 Monthly
        <br>Better Stuff
      </p>
    </div>
  </div>
  <div class="col-sm-1 col-sm-offset-2">
    <div class="plan_box">
      <h3>Awesome Plan</h3>
      <p>$5.00 Monthly
        <br>Even better stuff
      </p>
    </div>
  </div>
</div>
